In [2]:
import tweepy
import pandas as pd
import psycopg2
import sqlalchemy

import nltk
import re  
import spacy
nlp = spacy.load('en_core_web_lg')

import matplotlib.pyplot as plt; plt.rcdefaults()
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
# First apply for twitter developer account to retrieve your credentials such as consumer key 
# and secret as well as your access token key and secret

# Credentials

consumer_key = 'frxFyJskSPkPvxiMu8NKUfvX8'

consumer_secret = 'tCtujcAsHIZF8TSzDxKCBJbfM75v8vNEzClmuA48nSqpnC0PH0'

access_token = '557446265-KT2R47ApGYDLiLMDjbYTQONxhctzAtdhbZRm39SE'

access_token_secret = 'nYaLC8D3KzHPcKCRNIoNclAEiMDZ5mROmCqpZZsyheAxb'


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [4]:
# Second, figure out the data information you want to scrape from Twitter. 
# After that, categorise theminto different tables. 
# For Green Excel, we have decided to split the data information into three tables. 
# Table One will be profile_info.


# This is the information we want to have inside profile_info table.

user_id = []
user_name = []
location = []

# Put in all of the screen name from the profile you want to scrape in a list form.

name = ['JoeBiden']

# Then iterate i inside the name list and append in the list above. 
# Using the api.get_user to retrieve data for our DataFrame

for i in name:
    user = api.get_user(i)
    user_id.append(user.id_str)
    user_name.append(user.name)
    location.append(user.location)
    
#Manipulate the list into dataframe. And Set your index with your primary key.
    
profile_info = pd.DataFrame({'user_id': user_id, 'user_name': user_name, 'location': location})
profile_info = profile_info.set_index('user_id')
profile_info

         user_name        location
user_id
939091   Joe Biden  Washington, DC

In [5]:
# Table two will be social_network_info

# This is the information we want to have inside social_network_info table.

screen_name = []
followers_count = []
following_count = []

# Put in all of the screen name from the profile you want to scrape in a list form.

name = ['JoeBiden']

# Then iterate i inside the name list and append in the list above.

for i in name:
    user = api.get_user(i)
    screen_name.append(user.screen_name)
    followers_count.append(user.followers_count)
    following_count.append(user.friends_count)
    
# Manipulate the list into dataframe. And Set your index with your primary key.
    
social_network_info = pd.DataFrame({'screen_name': screen_name, 'followers_count': followers_count,
                                    'following_count': following_count})

social_network_info = social_network_info.set_index('screen_name')
social_network_info

             followers_count  following_count
screen_name
JoeBiden            31340998               48

In [6]:
# Connect to the db
# Password will be your Postgresql server password
pgcon = psycopg2.connect(
        host = 'localhost',
        user = 'postgres',
        password = 'bida123')

pgcursor = pgcon.cursor()

In [7]:
# Import ISOLATION_LEVEL_AUTOCOMMIT from psycopg2 extensions to lock the server 
# so that you can create the database

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# To create Interim Project Database and set isolation level to autocommit

pgcon.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

# Create the database

pgcursor.execute('DROP DATABASE IF EXISTS interim_project')
pgcursor.execute('CREATE DATABASE interim_project')

pgcon.close()

In [8]:
# Connect to the server with the db name created

pgcon = psycopg2.connect(
        host = 'localhost',
        database = 'interim_project',
        user = 'postgres',
        password = 'bida123')

In [9]:
# Import create_engine from sqlalchemy

from sqlalchemy import create_engine

# Using engine to connect to the database in PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:bida123@localhost/interim_project')

In [10]:
# Use .tosql to load your pd DataFrame(profile_info) into your postgreSQL

profile_info.to_sql('profile_info', engine, if_exists='replace', index = True)

# Change your column datatype

engine.execute('ALTER TABLE profile_info ALTER COLUMN user_id TYPE int USING user_id :: integer')
engine.execute('ALTER TABLE profile_info ALTER COLUMN user_name TYPE varchar(255)')
engine.execute('ALTER TABLE profile_info ALTER COLUMN location TYPE varchar(255)')

In [11]:
# Use .tosql to load your pd DataFrame(social_network_info) into your postgreSQL

social_network_info.to_sql('social_network_info', engine, if_exists='replace', index = True)

# Change your column datatype

engine.execute('ALTER TABLE social_network_info ALTER COLUMN screen_name TYPE varchar(255)')
engine.execute('ALTER TABLE social_network_info ALTER COLUMN followers_count TYPE int USING followers_count :: integer')
engine.execute('ALTER TABLE social_network_info ALTER COLUMN following_count TYPE int USING following_count :: integer')

In [ ]:
# Table Three will be the tweet_data.

# We started by finding out the 'root-level' attribute in the data dictionary and deciding on what attribute to extract.

for i in tweepy.Cursor(api.user_timeline, id="JoeBiden", tweet_mode="extended").items(1):
    print(dir(i))

In [ ]:
# Using tweet data dictionary documentation, we decided on the relevant attribute to extract for table 3.

number_of_tweets = 1000
tweet_id = []
tweets = []
like_count = []
time = []
retweet_count = []
source = []

# Using pandas package, we create a dataframe with attribute as our column header. tweet_id will be the primary key.

for i in tweepy.Cursor(api.user_timeline, screen_name='JoeBiden', tweet_mode = 'extended').items(number_of_tweets):
    tweet_id.append(i.id)
    tweets.append(i.full_text)
    like_count.append(i.favorite_count)
    time.append(i.created_at)
    retweet_count.append(i.retweet_count)
    source.append(i.source)
    
df = pd.DataFrame({'tweet_id': tweet_id, 'tweets': tweets, 'like_count': like_count, 
                   'time': time, 'retweet_count': retweet_count, 'source': source})

df

In [ ]:
# Clean dataframe by removing tweets that contains "RT" as these are retweets from Joe Biden's POTUS account (same messages repeated in both Joe Biden's personal and OOTUS account)

df = df[~df.tweets.str.contains("RT")]

df

In [ ]:
# Searching for number of tweets that contain both keywords.

z = df[(df.tweets.str.contains('jobs')) | (df.tweets.str.contains('economy'))]

len(z)

In [ ]:
# Dataframe for tweets with both keywords

z

In [ ]:
# In order to find the top keywords, we need to split the sentences to individual words so that we can count the number of times that individual words appears

list_of_sentences = [sentence for sentence in df.tweets]

lines=[]

for sentence in list_of_sentences:
    words = sentence.split()
    for w in words:
        lines.append(w)

print(lines)

In [ ]:
# Regex library is used here to define a special string to represent a pattern to be matched in a search operation (defining filter expression) 
# The filter expression used here will replace the character with a " " (space) for all those characters that are not A-Z,a-z,0-9
# Using for loop, if the word is not " ", we append the word to our list so that punctuations are removed

lines = [re.sub(r'[^A-Za-z0-9]+', '', x) for x in lines]

lines

lines2 = []

for word in lines:
    if word != '':
        lines2.append(word)

In [ ]:
# nltk is a natural language toolkit, from nltk, import Snowball Stemmer
# Snowball Stemmer allows us to extract words based on their root (e.g. runner, ran, running will be extracted as run which is the root word)

from nltk.stem.snowball import SnowballStemmer

# The Snowball Stemmer requires that you pass a language parameter
s_stemmer = SnowballStemmer(language='english')

stem = []
for word in lines2:
    stem.append(s_stemmer.stem(word))
    
stem

In [ ]:
# Removing all Stop Words which are repeated several times (e.g. a, the, etc)
# Reason: stop words has no meaning by itself and we are looking for keywords

stem2 = []

for word in stem:
    if word not in nlp.Defaults.stop_words:
        stem2.append(word)

stem2

In [ ]:
# putting individual words into dataframe
# value_counts function is to count number of times each word appear, to be used in visualisation later

df = pd.DataFrame(stem2)

df = df[0].value_counts()

df

In [ ]:
# This is a plot that shows the top 20 words being used

df = df[:20,]
plt.figure(figsize=(10,5))

x=df.values 
y=df.index
data = pd.DataFrame({'x': x, 'y': y})

sns.barplot(x = 'x', y = 'y', alpha=0.8, data=data)

plt.title('Top Words Overall')
plt.ylabel('Word from Tweet', fontsize=12)
plt.xlabel('Count of Words', fontsize=12)
plt.show()

In [ ]:
# Spacy is used to break the words into categories such as people, places, organisation.
# Import displacy from spacy to obtain visualizer of category.
# Import counter from collections to keeps track of how many times equivalent values are added.

from spacy import displacy
from collections import Counter

In [ ]:
# Define function to be used in the organisation chart later

def show_ents(doc):
    if doc.ents:
        for ent in doc.ents:
            print(ent.text + ' - ' + ent.label_ + ' - ' + str(spacy.explain(ent.label_)))

In [ ]:
# Codes to get top 20 organisation

str1 = " " 
stem2 = str1.join(lines2)

stem2 = nlp(stem2)

label = [(X.text, X.label_) for X in stem2.ents]

df6 = pd.DataFrame(label, columns = ['Word','Entity'])

df7 = df6.where(df6['Entity'] == 'ORG')

df7 = df7['Word'].value_counts()

In [ ]:
# Visualizing the chart for the top 20 organisation

df = df7[:20,]
plt.figure(figsize=(10,5))
sns.barplot(df.values, df.index, alpha=0.8)
plt.title('Top Organizations Mentioned')
plt.ylabel('Word from Tweet', fontsize=12)
plt.xlabel('Count of Words', fontsize=12)
plt.show()