In [2]:
import tweepy
import pandas as pd
import psycopg2
import sqlalchemy

In [3]:
# First apply for twitter developer account to retrieve your credentials such as consumer key 
# and secret as well as your access token key and secret

# Credentials

consumer_key = 'frxFyJskSPkPvxiMu8NKUfvX8'

consumer_secret = 'tCtujcAsHIZF8TSzDxKCBJbfM75v8vNEzClmuA48nSqpnC0PH0'

access_token = '557446265-KT2R47ApGYDLiLMDjbYTQONxhctzAtdhbZRm39SE'

access_token_secret = 'nYaLC8D3KzHPcKCRNIoNclAEiMDZ5mROmCqpZZsyheAxb'


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [4]:
# Second, figure out the data information you want to scrape from Twitter. 
# After that, categorise theminto different tables. 
# For Green Excel, we have decided to split the data information into three tables. 
# Table One will be profile_info.


# This is the information we want to have inside profile_info table.

user_id = []
user_name = []
location = []

# Put in all of the screen name from the profile you want to scrape in a list form.

name = ['JoeBiden']

# Then iterate i inside the name list and append in the list above. 
# Using the api.get_user to retrieve data for our DataFrame

for i in name:
    user = api.get_user(i)
    user_id.append(user.id_str)
    user_name.append(user.name)
    location.append(user.location)
    
#Manipulate the list into dataframe. And Set your index with your primary key.
    
profile_info = pd.DataFrame({'user_id': user_id, 'user_name': user_name, 'location': location})
profile_info = profile_info.set_index('user_id')
profile_info

         user_name        location
user_id
939091   Joe Biden  Washington, DC

In [5]:
# Table two will be social_network_info

# This is the information we want to have inside social_network_info table.

screen_name = []
followers_count = []
following_count = []

# Put in all of the screen name from the profile you want to scrape in a list form.

name = ['JoeBiden']

# Then iterate i inside the name list and append in the list above.

for i in name:
    user = api.get_user(i)
    screen_name.append(user.screen_name)
    followers_count.append(user.followers_count)
    following_count.append(user.friends_count)
    
# Manipulate the list into dataframe. And Set your index with your primary key.
    
social_network_info = pd.DataFrame({'screen_name': screen_name, 'followers_count': followers_count,
                                    'following_count': following_count})

social_network_info = social_network_info.set_index('screen_name')
social_network_info

             followers_count  following_count
screen_name
JoeBiden            31340998               48

In [6]:
# Connect to the db
# Password will be your Postgresql server password
pgcon = psycopg2.connect(
        host = 'localhost',
        user = 'postgres',
        password = 'bida123')

pgcursor = pgcon.cursor()

In [7]:
# Import ISOLATION_LEVEL_AUTOCOMMIT from psycopg2 extensions to lock the server 
# so that you can create the database

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# To create Interim Project Database and set isolation level to autocommit

pgcon.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

# Create the database

pgcursor.execute('DROP DATABASE IF EXISTS interim_project')
pgcursor.execute('CREATE DATABASE interim_project')

pgcon.close()

In [8]:
# Connect to the server with the db name created

pgcon = psycopg2.connect(
        host = 'localhost',
        database = 'interim_project',
        user = 'postgres',
        password = 'bida123')

In [9]:
# Import create_engine from sqlalchemy

from sqlalchemy import create_engine

# Using engine to connect to the database in PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:bida123@localhost/interim_project')

In [10]:
# Use .tosql to load your pd DataFrame(profile_info) into your postgreSQL

profile_info.to_sql('profile_info', engine, if_exists='replace', index = True)

# Change your column datatype

engine.execute('ALTER TABLE profile_info ALTER COLUMN user_id TYPE int USING user_id :: integer')
engine.execute('ALTER TABLE profile_info ALTER COLUMN user_name TYPE varchar(255)')
engine.execute('ALTER TABLE profile_info ALTER COLUMN location TYPE varchar(255)')

In [11]:
# Use .tosql to load your pd DataFrame(social_network_info) into your postgreSQL

social_network_info.to_sql('social_network_info', engine, if_exists='replace', index = True)

# Change your column datatype

engine.execute('ALTER TABLE social_network_info ALTER COLUMN screen_name TYPE varchar(255)')
engine.execute('ALTER TABLE social_network_info ALTER COLUMN followers_count TYPE int USING followers_count :: integer')
engine.execute('ALTER TABLE social_network_info ALTER COLUMN following_count TYPE int USING following_count :: integer')