In [1]:
import tweepy
import pandas as pd

#### First apply for twitter developer account to retrieve your credentials such as consumer key and secret as well as your access token key and secret.

In [ ]:
# Credentials

consumer_key = 'frxFyJskSPkPvxiMu8NKUfvX8'

consumer_secret = 'tCtujcAsHIZF8TSzDxKCBJbfM75v8vNEzClmuA48nSqpnC0PH0'

access_token = '557446265-KT2R47ApGYDLiLMDjbYTQONxhctzAtdhbZRm39SE'

access_token_secret = 'nYaLC8D3KzHPcKCRNIoNclAEiMDZ5mROmCqpZZsyheAxb'


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [ ]:
#This is the information we want to have inside profile_info table.

user_id = []
user_name = []
location = []

#Put in all of the screen name from the profile you want to scrape in a list form.

name = ['JoeBiden']

#Then iterate i inside the name list and append in the list above.

for i in name:
    user = api.get_user(i)
    user_id.append(user.id_str)
    user_name.append(user.name)
    location.append(user.location)
    
#Manipulate the list into dataframe
    
profile_info = pd.DataFrame({'user_id': user_id, 'user_name': user_name, 'location': location})

profile_info

  user_id  user_name        location
0  939091  Joe Biden  Washington, DC

In [ ]:
number_of_tweets = 500
tweets = []
likes = []
time = []

for i in tweepy.Cursor(api.user_timeline, id='JoeBiden', tweet_mode = 'extended').items(number_of_tweets):
    tweets.append(i.full_text)
    likes.append(i.favorite_count)
    time.append(i.created_at)
    
df = pd.DataFrame({'tweets': tweets, 'likes': likes, 'time': time})

In [8]:
df

,tweets,likes,time
0,We have a path to usher in a new era of econom...,28667,2021-09-30 00:06:02
1,RT @POTUS: My Build Back Better Agenda and the...,0,2021-09-29 23:51:17
2,The Bipartisan Infrastructure Deal and the Bui...,22141,2021-09-29 21:49:00
3,This is the moment to make sure all of us—not ...,20624,2021-09-29 18:48:22
4,Our Build Back Better Agenda will strengthen o...,15555,2021-09-28 22:50:01
...,...,...,...
95,RT @POTUS: I will be addressing the nation on ...,0,2021-08-16 15:09:25
96,Our economy is coming back—but there’s more wo...,91800,2021-08-14 22:46:00
97,RT @POTUS: In what is already a challenging ti...,0,2021-08-14 22:23:03
98,While we will have ups and downs along the way...,11869,2021-08-14 16:59:16
99,"Today, about 40 million families will receive ...",20688,2021-08-13 13:58:00